*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


h4{
    width: 100px;
    margin: auto;
    background-color: blue;
    border-radius: 10px;

    
}
img{
    width: 50%;
    border-radius: 50px;
    margin-top: 30px;

}
body{
    background-color: gray;
 
}
div{
    position: relative;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.child1{
    position: absolute;
    bottom: 210px;
    width: 150px;
    left: 350px;
   

}
