*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

h5{
    font-size: 80px;
    
}
.hello{
    background-color: grey;
    padding: 100px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.space{
    padding-top: 10px;
}
t{
    width: 100px;
    height: 100px;
    margin: 100px;
    margin-left: 2px;
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.r{
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    margin: 50px;
    border-bottom: 2px solid black;
    
}
.row{
    font-size: 20px;
    margin: 50px;
    align-items: center;
    justify-content:space-evenly;    
}
b{
    background-color:gray;
    color: white;
    padding: 5px;
}
.dow{
    display: flex;
    padding-left: 100px;
    border: 50px;
    font-size: 30px;
}



