*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.libranes{
    padding: 20px;
    color: red;
    background-color: white;
}
h2{
    padding-left: 100px;
}
.parent{
    display: flex;
    text-align: center;
    align-items: center;
}
img{
    padding: 100px;
    padding-top: 200px;
    padding-left: 300px;
    padding-right: 200px;    
}
.text{
    padding-bottom: 100px;
}
.text h2{
   padding-left: 130px;
   padding-top:100px ; 
   font-size: 50px;
   color: white;
}
.text h1{   
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 24px;
    color: white;

}
.bottom{
    display: flex;
    box-shadow: 10px;
    background-color:darkred;
    color: white;
    justify-content: space-between;

}
.child1{
    border-right:5px solid red ;
    height: 210px;
}
.child2{
    border-right:5px solid red ;
    height: 210px;
}

