*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 1100px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border: 1px,solid,gray;
    background-color: silver;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
}
.chiled1{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color:blueviolet;
    margin: 10px;
    border-radius: 10px;   
}
.text{
    padding-top: 10px;
    padding-left: 30px;
    color: white;
}
p{
    color: black;
    padding-top: 10px; ;
}
.image{
    display: flex;
}
.image h1{
    font-size: 15px;
    padding-right: 300px;
    padding-top: 35px;
}
.image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0 ;
    padding: 10px;
    margin: 20px;   
}





.chiled2{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: slategray;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}
.image2{
    display: flex;
    padding-bottom: 10px;
}
.text2{

    color: white;
}
.image2 img{
    width: 50px;
    height: 50px;
    border-radius: 100%; 
}
.image2 h1{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 15px;
}

.chiled3{
    grid-row: 1/3;
    grid-column: 4/5;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}
.image3{
    display: flex;
    padding-bottom: 10px;
}
.text3{

    color: black;
}
.image3 img{
    width: 50px;
    height: 50px;
    border-radius: 100%; 
}
.image3 h1{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
}
.text3 p{
    color: black;
    
}



.chiled4{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}
.image4{
    display: flex;
    padding-bottom: 10px;
}
.text4{

    color: black;
}
.image4 img{
    width: 50px;
    height: 50px;
    border-radius: 100%; 
}
.image4 h1{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
}








.chiled5{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color:black;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;

}
.text5{
    padding-top: 10px;
    padding-left: 30px;
    color: white;
}
.text5 p{
    color:white;
    padding-top: 10px; ;
}
.image5{
    display: flex;
}
.image5 h1{
    color: white;
    font-size: 15px;
    padding-right: 300px;
    padding-top: 35px;
}
.image5 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0 ;
    padding: 10px;
    margin: 20px;   
}

