*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
main{
    display: flex;
    background-color: silver;
    
}
.sider{
    width: 250px;
    height: 1000px;
    background-color: pink;


}
h5{
    font-size: 20px;
    text-align: center;
}
.row{
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.card{
    width: 100px;
    height: 100px;
    background-color: orange;
}




