*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.parent{
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border: 1px,solid,gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 10px;
}
.child1{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color:white;
    display: flex;   
    text-align: center;    
}
.child2{
     grid-row: 1/2;
    grid-column: 3/5;
    background-color:silver;
    font-size: 40px;  
    text-align: center;
    padding: 35px;
}
.child3{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color:red;
    color: white;
    font-size: 15px;
    text-align: center;
}
.child4{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color:white;
    font-size: 20px; 
    display: flex; 
}
.child5{
     grid-row: 2/4;
    grid-column: 4/5;
    background-color:purple;
    color: white;
    font-size: 30px;
}
.child6{
     grid-row:  3/4;
    grid-column: 1/2;
    background-color:white;
    font-size: 20px;
    text-align: center;
}
.child7{
    grid-row: 3/4;
    grid-column: 2/4;
    background-color:green;
    font-size: 30px;
    color: white;
    text-align: center;
}
.h2{
    font-size: 25px;
    text-align: center;
    font-style: italic; 
 
}
@media screen and (max-width:600px){
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent> div{
        grid-row: auto;
        grid-column: auto;
    }
}