*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    max-width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 150px;
    border: 5px solid black;
     /*--flex----*/
     display: flex;
     /*--derection--*/
     flex-direction: row;
     /*--horizantol----*/
     justify-content:space-between;
     /*--verticla--*/
     align-items:last baseline
    
}
.child{
    width: 100px;
    height: 100px;
}
.child1{

    background-color: red;
    /*flex-grow: 1;*/
    
}
.child2{
    background-color:green;
   /*flex-grow: 1;*/
}
.child3{
    background-color:blue;
    /*flex-shink: 1;*/
}






